<ul class="navbar-nav">
  {% if user_is_logged %}
    <li class="nav-item dropdown">
      <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://placehold.co/32" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>{{ user_data.name }}</strong>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" href="/admin/dashboard">
            Panel Principal
          </a>
        </li>
        <li><a class="dropdown-item" href="/admin/account">Mi Cuenta</a></li>
        <li>
          <a class="dropdown-item" href="/auth/logout">
            <i class="fa-light fa-right-from-bracket"></i>  Cerrar Sesión
          </a>
        </li>
      </ul>
    </li>
  {% elseif current_path == '/auth/login' %}
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/auth/register">
        Registrate <i class="fa-light fa-right-to-bracket"></i>
      </a>
    </li>
  {% else %}
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/auth/login">
        Iniciar Sesión <i class="fa-light fa-right-to-bracket"></i>
      </a>
    </li>
  {% endif %}
</ul>
