{% extends 'layout/_base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="col-md-6 col-lg-8">
  <h1 class="m-5">{{ title }}</h1>

  <p>Bienvenido {{ user_data.username }}</p>
</div>

{% endblock %}
