{% extends '@Auth/layout/_admin_page.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
  <h1 class="h2">{{ title }}</h1>
{% endblock %}

{% block content %}
  <p>Bienvenido {{ user_data.name }}</p>
{% endblock %}
