<div class="col-lg-8">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <i class="fa-light fa-skull"></i>
        MFRWRK
      </a>
      {# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> #}
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          {# <div class="collapse navbar-collapse" id="navbarText"> #}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link {% if current_path == '/' %}active{% endif %}" aria-current="page" href="/">
                  <i class="fa-light fa-house"></i> Inicio
                </a>
              </li>
              {# <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li> #}
            </ul>
            {# <span class="navbar-text">
              Navbar text with an inline element
            </span> #}

            <ul class="navbar-nav">
              {% if user_is_logged %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-light fa-user"></i> {{ user_data.username }}
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Mi Cuenta</a></li>
                    <li><a class="dropdown-item" href="/auth/logout">Cerrar Sesión</a></li>
                  </ul>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/auth/login">
                    Iniciar Sesión <i class="fa-light fa-right-to-bracket"></i>
                  </a>
                </li>
              {% endif %}
            </ul>
          {# </div> #}
        </div>
      </div>
    </div>
  </nav>
