{% extends 'layout/_base.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="col-md-6 col-lg-5">
  <h1 class="m-5">Acceso</h1>

  {% if message %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
  {% endif %}

  {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  {% endif %}

  <form method="post" action="/auth/login">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" name="username" placeholder="name@example.com">
      <label for="floatingInput">Usuario/Email</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
      <label for="floatingPassword">Contraseña</label>
    </div>
    <button type="submit" class="btn btn-lg btn-primary">Iniciar Sesión</button>
  </form>
</div>

{% endblock %}
